/***
 * Styles for index.html
***/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: #00aeef;
}

.main-container {
  display: table;
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.button-container {
  position: relative;
  display: inline-block;
  margin: 5%;
  width: 39%;
  height: 0;
  padding-bottom: 39%;
  box-sizing: border-box;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: white;
  border: 0px solid #2f2f2f;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;

  /* shadow */
  box-shadow: 0 10px 5px #02719b;
  -webkit-transition: all .05s linear;
  -moz-transition: all .05s linear;
  transition: all .05s linear;
}

button:hover {
  box-shadow: 0 6px 5px #005b7d;
  top: 5px;
}

button:active {
  box-shadow: 0 0 5px #005b7d;
  top: 10px;
}

.desc {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 9%;
  margin: 0 auto;
  letter-spacing: .2em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Courier New', monospace;
}

.amazing {
  background-image: url(./img/gif_swagpoosh_scarf_inline_2x.gif);
  background-size: 90%;
  background-position: 70% center;
}

.surprise-me {
  background-image: url(./img/gif_paw_scarf_2x.gif);
  background-size: 80%;
  background-position: center 30%;
}

@media (max-width: 565px) {
  .desc {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .button-container {
    width: 80%;
    height: 0;
    margin: 5% auto;
    padding-bottom: 80%;
  }
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.main-container.loading .button-container {
  display: none;
}

.main-container:not(.loading) .loader {
  display: none;
}

.main-container.loading .loader {
  display: block !important;
}